.header {
    max-height: 80px;
    border-bottom: 1px solid var(--header-separate-line);

    &__container {
            display: flex;
            align-items: center;
            gap: 50px;
        } 
}

 