.contacts-list {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;

    &__link {
            color: var(--secondary-text-color);
    
            font-weight: 500;
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: 0.02em;
    
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 14px 0;
    
            transition: color $transition-dur var(--timing-function);
        }
    
    &__link:hover,
    &__link:focus {
            color: var(--accent-color);
        }
    
    
    &__logo {
            fill: var(--secondary-text-color);
    
            transition: fill $transition-dur var(--timing-function);
        }
    
    &__link:hover .contacts-list__logo,
    &__link:focus .contacts-list__logo {
            fill: var(--accent-color);
        }
}