.hero {
    background-color: var(--secondary-footer-color);
   
    background-image: $hero-background-image-linear-gradient;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;

    height: 400px;
    max-width: 480px;
    padding: 118px 0;

    @media screen and (min-width: $tablet) {
            height: 400px;
            max-width: 768px;
            padding: 118px 0;
        }

    @media screen and (min-width: $desktop) {
            height: 600px;
            max-width: 1600px;
            padding: 200px 0;
        }

    &__title {
            color: var(--primary-white-color);
    
            font-weight: 900;

            font-size: 26px;
            line-height: 1.61;
           
            letter-spacing: 0.06em;
            text-transform: uppercase;
    
            max-width: 480px;
            text-align: center;
            margin: auto;
            margin-bottom: 30px;

            // @media screen and (min-width: $tablet) {
            //     max-width: 480px;
            // }

            @media screen and (min-width: $desktop) {
                font-size: 44px;
                line-height: 1.36;
                max-width: 696px;
            }
        }
    
    &__primary-button {
            padding: 10px 24px;

            @media screen and (min-width: $desktop) {
                padding: 10px 32px;
            }
        }
}

