.menu-button {
    background: var(--primary-white-color);
    
    border: none;
    fill: var(--logo-black-color);
    cursor: pointer;
    padding: 0;

    @media screen and (min-width: $tablet) {
            display: none;
        }
    

    &:hover,
    &:focus {
        fill: var(--accent-color);

        transition: fill $transition-dur var(--timing-function);
    }
}