h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
    margin: 0px;
    padding: 0px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

body {
    background-color: var(--primary-white-color);
    color: var(--title-text-color);

    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.03em;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
    font-style: normal;
}

.title {
    text-align: center;
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 1.17;

    @media screen and (min-width: $desktop) {
        margin-bottom: 50px;
        font-size: 36px;
        line-height: 1.16;
    }
}